$primary: 'Open Sans', sans-serif;
$secondary: 'Lato', sans-serif;

$title_weight: 300;
$title_color: darkgray;

$break-small: 850px;

.title {
    font-family: $primary;
    font-weight: $title_weight;
    color: $title_color;
}

#about{
//    min-height: 60vh;
    margin-top: 10vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    #profile_pic_container{
        #profile_pic_canvas{
            max-height: 30vw;
            @media screen and (max-width: $break-small) {
                max-height: 45vw;
            }
        }
    }
    #about_content{
        width: 50vw;
        text-align: left;
        
        @media screen and (max-width: $break-small) {
            width: 80vw;
        }
        
        #about_content_title{
            @extend .title;
        }
        .about_content_p{
            font-family: $secondary;
        }
    }
}