@import "_block";

#about{
    margin-top: 10vh;
    @extend .block;
    #profile_pic_container{
        #profile_pic_canvas{
            max-height: 30vw;
            @media screen and (max-width: $break-small) {
                max-height: 45vw;
            }
        }
    }
    #about_content{
        @extend .content;
        #about_content_title{
            @extend .title;
        }
        .about_content_p{
            font-family: $secondary;
        }
    }
}