$primary: 'Open Sans', sans-serif;
$secondary: 'Lato', sans-serif;

$title_weight: 300;
$title_color: darkgray;

.title {
    font-family: $primary;
    font-weight: $title_weight;
    color: $title_color;
}

.date {
    font-family: $secondary;   
    font-weight: 300;
}

#education {
//    min-height: 60vh;
    margin-top: 20vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    #education_header{
        width: 50vw;
        text-align: left;
        @media screen and (max-width: $break-small) {
            width: 80vw;
        }
        #education_title{
            @extend .title;
        }
        #education_college{
            font-family: $secondary;
            font-weight: bold;
        }
        .education_college_des{
            font-family: $primary;
        }
        #education_college_date{
            @extend .date;
        }
    }
    #education_courses{
        width: 50vw;
        text-align: left;
        @media screen and (max-width: $break-small) {
            width: 80vw;
        }
        #courses_title{
            @extend .title;
        }
        .course{
            width: 100%;
            margin: none;
            padding: none;
            .course_title{
                @extend .course;
                width: 18vw;
                display: inline;
                text-align: right;
                font-family: $primary;
                .course_title_main{
                    font-weight: 600;
//                    color: red;
                }
            }
            .course_description{
                @extend .course;
                width: 28vw;
                display: inline;  
                text-align: right;
                font-family: $secondary;
            }
        }
    }
}