@import "_block";

#education {
    margin-top: 20vh;
    @extend .block;
    #royce{
        @extend .content;
    }
    #education_header{
        @extend .content;
        #education_title{
            @extend .title;
        }
        #education_college{
            font-family: $secondary;
            font-weight: bold;
        }
        .education_college_des{
            font-family: $primary;
        }
        #education_college_date{
            @extend .date;
        }
    }
    #education_courses{
        @extend .content;
        margin: none;
        padding: none;
        #courses_title{
            @extend .title;
        }
        .course{
            .course_title{
                width: 20%;
                display: inline;
                text-align: right;
                font-family: $primary;
                .course_title_main{
                    font-weight: 600;
                }
            }
            .course_description{
                width: 30%;
                display: inline;  
                text-align: left;
                font-family: $secondary;
            }
        }
    }
}