.block, #under_construction, #landing, #about, #education, #experience, #portfolio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title, #navigator, #about #about_content #about_content_title, #education #education_header #education_title, #education #education_courses #courses_title, #experience #experience_title, #portfolio #portfolio_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: darkgray; }

.date, #education #education_header #education_college_date {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
  width: 50vw;
  text-align: left; }
  @media screen and (max-width: 850px) {
    .content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
      width: 75vw; } }

body {
  background-color: #F9F5F4;
  display: block;
  -webkit-overflow-scrolling: touch;
  position: relative; }

#under_construction {
  min-height: 15vh;
  width: 100vw;
  background-color: white; }
  #under_construction #under_construction_message {
    max-width: 60vw; }
    #under_construction #under_construction_message #previous_version_link {
      cursor: pointer; }

#navigator {
  position: fixed;
  top: 30vh;
  right: 0;
  padding-right: 20px;
  text-align: right;
  color: black !important;
  font-size: 20px; }
  @media screen and (max-width: 850px) {
    #navigator {
      top: 15vh;
      font-size: 12px; } }
  #navigator .navigator_option {
    cursor: pointer;
    opacity: 0.5; }

.block, #under_construction, #landing, #about, #education, #experience, #portfolio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title, #navigator, #about #about_content #about_content_title, #education #education_header #education_title, #education #education_courses #courses_title, #experience #experience_title, #portfolio #portfolio_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: darkgray; }

.date, #education #education_header #education_college_date {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
  width: 50vw;
  text-align: left; }
  @media screen and (max-width: 850px) {
    .content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
      width: 75vw; } }

#landing {
  height: 100vh; }
  #landing #title {
    font-family: "Open Sans", sans-serif, sans-serif;
    font-size: 4vw;
    font-weight: 100; }
    @media screen and (max-width: 850px) {
      #landing #title {
        font-size: 5vh; } }
  #landing #title_img_container #title_img {
    height: 45vh; }
  #landing #title_subtext {
    font-family: "Lato", sans-serif, sans-serif;
    font-size: 2vw;
    font-weight: 300; }
    @media screen and (max-width: 850px) {
      #landing #title_subtext {
        font-size: 3vh; } }

.block, #under_construction, #landing, #about, #education, #experience, #portfolio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title, #navigator, #about #about_content #about_content_title, #education #education_header #education_title, #education #education_courses #courses_title, #experience #experience_title, #portfolio #portfolio_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: darkgray; }

.date, #education #education_header #education_college_date {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
  width: 50vw;
  text-align: left; }
  @media screen and (max-width: 850px) {
    .content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
      width: 75vw; } }

#about {
  margin-top: 10vh; }
  #about #profile_pic_container #profile_pic_canvas {
    max-height: 30vw; }
    @media screen and (max-width: 850px) {
      #about #profile_pic_container #profile_pic_canvas {
        max-height: 45vw; } }
  #about #about_content .about_content_p {
    font-family: "Lato", sans-serif; }

.block, #under_construction, #landing, #about, #education, #experience, #portfolio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title, #navigator, #about #about_content #about_content_title, #education #education_header #education_title, #education #education_courses #courses_title, #experience #experience_title, #portfolio #portfolio_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: darkgray; }

.date, #education #education_header #education_college_date {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
  width: 50vw;
  text-align: left; }
  @media screen and (max-width: 850px) {
    .content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
      width: 75vw; } }

#education {
  margin-top: 20vh; }
  #education #education_header #education_college {
    font-family: "Lato", sans-serif;
    font-weight: bold; }
  #education #education_header .education_college_des {
    font-family: "Open Sans", sans-serif; }
  #education #education_courses {
    margin: none;
    padding: none; }
    #education #education_courses .course .course_title {
      text-align: right;
      font-family: "Open Sans", sans-serif; }
      #education #education_courses .course .course_title .course_title_main {
        font-weight: 600; }
    #education #education_courses .course .course_description {
      text-indent: 3em;
      text-align: left;
      font-family: "Lato", sans-serif; }

.block, #under_construction, #landing, #about, #education, #experience, #portfolio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title, #navigator, #about #about_content #about_content_title, #education #education_header #education_title, #education #education_courses #courses_title, #experience #experience_title, #portfolio #portfolio_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: darkgray; }

.date, #education #education_header #education_college_date {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
  width: 50vw;
  text-align: left; }
  @media screen and (max-width: 850px) {
    .content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
      width: 75vw; } }

#experience {
  margin-top: 20vh;
  min-height: 20vh; }

.block, #under_construction, #landing, #about, #education, #experience, #portfolio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title, #navigator, #about #about_content #about_content_title, #education #education_header #education_title, #education #education_courses #courses_title, #experience #experience_title, #portfolio #portfolio_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: darkgray; }

.date, #education #education_header #education_college_date {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
  width: 50vw;
  text-align: left; }
  @media screen and (max-width: 850px) {
    .content, #about #about_content, #education #royce, #education #education_header, #education #education_courses, #experience #experience_title, #portfolio #portfolio_title {
      width: 75vw; } }

#portfolio {
  margin-top: 20vh; }
  #portfolio #feedback {
    font-size: 1.4em; }
  #portfolio #selectable .ui-selecting {
    background: #FECA40; }
  #portfolio #selectable .ui-selected {
    background: #F39814;
    color: white; }
  #portfolio #selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%; }
  #portfolio #selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px; }

/*# sourceMappingURL=stylesheet.css.map */
