@import "_block";

body {
    background-color: #F9F5F4;
    display: block;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

#under_construction {
    min-height: 15vh;
    width: 100vw;
    background-color: white;
    @extend .block;
    #under_construction_message {
        max-width: 60vw;
        #previous_version_link {
            cursor: pointer;
        }
    }
}

#navigator {
    position: fixed;
    top: 30vh;
    right: 0;
    padding-right: 20px;
    text-align: right;
    @extend .title;
    color: black !important;
    font-size: 20px;
    @media screen and (max-width: $break-small) {
        top: 15vh;
        font-size: 12px;
    }
    .navigator_option {
        cursor: pointer;  
        opacity: 0.5;
    }
}

@import "_landing";
@import "_about";
@import "_education";
@import "_experience";
@import "_portfolio";