[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
*{
    font-family:'Courier';
}

.modify, .add-prompt, .add{
    color: black;
    opacity:0.3;
}
.modify, .add-prompt, .add:hover {
    cursor:pointer;
    opacity:0.4;
}

#container {
    margin-top: 5vh;
    margin-left: 1vw;
}

.day {
    display:inline-block; 
    position: relative;
    vertical-align:text-top; 
    min-height:35vh; 
    overflow-y: scroll;
    width:20vw; 
    font-size:1.5vmax; 
    margin:1vw; 
    padding: 1vw;
    margin: none;
/*    border-top: 2px solid black;   */
}

.day-items {
    list-style:none;
    padding-left: 12px;
}

.item {
    text-indent:-1em; 
    font-size:1.2vmax;  
    position: relative;
}

.add-form {

}

.add {
    display:inline   
}

.input-field {
    border: 0;
    outline: 0;
    border-bottom: 2px solid lightgray;
}

.input-field:focus {
    border: 0;
    outline: 0;
    border-bottom: 2px solid darkgray;
}