* {
    font-family:Comic Sans MS;   
}

.jumbotron {
    background-color:#99ff33;
    color:white;
}

.center_this{
    text-align:center;   
}

#resume_button{
    text-decoration: none;
    color:white;
    font-size:80%;
/*    text-align: center;*/
}

#resume_button:hover{
    text-decoration: none;
    color:#e8ffd1;
/*    color:#99ff33;*/
/*    text-shadow: 0 0 10px white;*/
}   

#real_shit_button{
    height:30px;
    width:120px;
    background-color:#99ff33;
    color:white;
    text-decoration: none;
    text-align:center;
    margin:auto;
}

p#real_shit_button a {
    text-decoration: none;
    color:white;
    margin:auto;
    margin-top:30%;
    font-size:15px;
}

p#real_shit_button a:hover{
    text-decoration: none;
    color:#e8ffd1;
}

.center_element{
    margin:auto;   
}

.center_text{
    text-align: center;
}

.image_fit_to_div {
    max-width:100%; 
/*    max-height: */
}